.banner {
  height: calc(100vh - 10vh);
  background-image: asset-url('sun.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: 30% 70%;
  display: flex;
  justify-content:center;
  // flex-direction: column;
  background-size: cover;
  background-position: center;
  text-align: center;
  //align-items: center;
  //  color: black;

  // font-family: Source Sans Pro;
  // text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  // font-size: 80%;
}

.banner2 {
  background-position: 50% 30%;
  background-color: #9D1C33;
  background-size: cover;
  height: 30vh;
}

 .banner2 a {
    font-size: 100px;
    color: white;
    padding-top:30px;
    text-align:center;
  }


// .banner .container {
//   margin:0px 60px 100px;
// }

.banner h1 {
  font-size: 120px;
  color: white;
  padding-top: 226px;
  text-shadow:1px 1px 2px #000000;
  font-family: 'Questrial', sans-serif;
  font-weight: 300;
  // padding-top: 30vh;
  // padding-left: 40vw;
}

.banner p {
  font-size: 20px;
  color: white;
  // padding-bottom: 16px;
  // padding-left: 40vw;
  font-family: 'Questrial', sans-serif;
  font-weight:500;
  font-size:18px;
  line-height:2em;
  // margin-bottom:20px;
  text-shadow:1px 1px 2px #000000;
}
