// .cards-section {
//   display:flex;
//   // padding:60px 40px 20px 40px;
// }

.card {
  width:300px;
  text-align:center;
  border-radius: 30px;
  padding: 30px;
   display: flex;
  justify-content:center;
  // flex-direction: column;
  background-size: cover;
  background-position: center;
}

// .container .position {
//   display: flex;
//   justify-content:center;
//   // flex-direction: column;
//   background-size: cover;
//   background-position: center;

// }

.flex-container {
  display:flex;
  //justify-content: center;
  //flex: 50% 50%;
  //justify-content: center;
  align-self: center;
}



.about {
  //width: 100%;
  text-align:left;
  background-color:black;
  color: white;
  //position: absolute;
  width: 1029px;
  height: 1215px;

}

.about h1 {
    font-size: 150px;
    padding-left: 30px;
  }
.about h3 {
    font-size: 50px;
    padding-left: 30px;
  }
.about h2 {
    font-size: 40px;
    padding-left: 30px;
  }


.about-img {
    background-image: asset-url('horny-viktor-kronos.jpeg');

  //background-image: linear-gradient(to right, rgba(156,255,1,0.2)  0%, rgba(0,0,0,1) 100%), asset-url('horny-viktor-kronos.jpeg');
  // height:100vh;
  // width: 100%;
  background-repeat: no-repeat;
  position: relative;
width: 927px;
height: 1215px;
background-color: #E16416;

border-color: #9D1C33;
}

.about-img2 {
  background-image: asset-url('people.jpeg');
  //background-image: linear-gradient(to right, rgba(156,255,1,0.2)  0%, rgba(0,0,0,1) 100%), asset-url('horny-viktor-kronos.jpeg');
 width: 100vw;
height: 100vh;
position:absolute;
  background-repeat: no-repeat;
}


// .card img {
// //   object-fit:cover;
// //   height:200px;
// //   width:100%;
// // }

// // .card img:hover {
// //   opacity:0.7;
// // }

// // #merch {
// //   object-position:top center;
// // }

// // #dolphin {
// //   object-position:50% 40%;
// // }

// // .center {
// //   position:absolute;
// //   top:30%;
// //   left: 0;
// //   right: 0;
// //   margin-left: auto;
// //   margin-right: auto;
// //   width: 200px;
// // }
